body{
  background-color: #e1e1e1;
  font: 15px/1 arial,sans-serif;
  padding: 0;
  margin: 0;
}

.container{
  /*All*/
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

/*Header*/
header{
  padding: 10px 0 10px 0;
  background-color: #55b955;
  border-bottom: #24642f 10px solid;
  color : #ffffff;
}

header img{
  width: 50px;
  height: 50px;
}

header #logo img{
  float:left;
  padding-left: 5px;
}

header #logo a{
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: bold;
  float: left;
  padding: 10px 0 0 15px;
}

header .hightlight{
  color:#0b4928;
}

header #profil img{
  float: right;
  padding-right: 15px;
}

header #profil h4{
  float:right;
  margin: 0;
  padding: 20px 10px 0 0;
}

/*add-report*/
#add-data{
  min-height: 542px;
}
.title{
  color: #24642f;
  font-size: 28px;
  text-align: -webkit-center;
}

.report{
  background-color: #55b955;
  width: 45%;
  text-align: -webkit-center;
  margin-top: 30px;
  margin-left: 300px;
  border-radius: 5px;
}

.report form{
  margin: 0;
  padding: 10px 15px;
}

table th,td{
  margin: 0;
  padding: 5px;
}

table td{
  color: #0b4928;
  font-weight: bold;
}

td input{
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 10px;
}

.button{
  padding: 20px 0 10px 0;
}

.button input,button{
  background-color: #0b4928;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  font-size: 18px;
}

/*footer*/
footer{
  background-color: #55b955;
  text-align: center;
  color: #ffffff;
}
